.wrapper-bai5 {
    background-color: #F9FAFC;
    min-height: 100vh;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.underlineBai5 {
    height: 4px;
    width: 15%;
    background-color: orange;
    margin: 0 auto;
    margin-top: 5px;
}
.title-bai5 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.btnOption {
    background-color: orange;
    border: 0px;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
}
.btnOption:hover {
    background-color: #B5530A;
}
.imgBai5 {
    width: 352px;
    height: 320px;
}
.listDisk {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
}
.diskCard {
    margin: 20px;
    background-color: white;
}
.priceDisk {
    background-color: orange;
}
.title_price {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 20px 15px;
}
.titleDisk {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    width: max-content;
    padding: 0px;
}
.priceDisk {
    color: white;
    font-size: 18px;
    max-width: max-content;
    padding: 2px 10px;
    border-radius: 5px;
}
.contentDisk {
    font-size: 16px;
    color: grey;
    margin: 10px 15px 10px 15px;
    line-height: 2;
}